*.crt
*.key
*.pem
/vendor
/.env
.idea
/wordpress
/wp-config
/wp-themes
/laravel
/wp-root
/svn
/bitbucket
/github
/tmp
/test
/docker-compose.override.yml
/bin/*-configure-app-do-not-commit.sh
/bin/*-configure-env-do-not-commit.sh
/.vagrant
